.header {
    height: 80px;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    padding-left: 15px;
    font-family: 'Joti One', cursive;
    font-size: 25px; /*  Стандартный размер */
    color: #05ff00;
    font-weight: bold;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    margin: 0 40px;
    cursor: pointer;
    font-size: 28px;
}

.phone {
    font-family: 'Joti One', cursive;
    font-size: 25px; /*  Уменьшаем размер текста */
    color: #7dff91;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-right: 10px
}
.nav-item:hover {
    text-decoration: underline; /*  Подчеркиваем при наведении */
    filter: blur(1px); /*  Добавляем блюр к тексту */
}
.trapezoid-container {
    position: relative;
    height: 100%; /* Задаем высоту контейнера */
}

.trapezoid {
    width: 150%;
    height: 100%;  /* Задаем высоту трапеции */
    background-color: rgba(16, 91, 0, 0.5);
    clip-path: polygon(0 0, 100% 0,80% 100%, 0 100%);
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 0;
}

/* Media Query для мобильных устройств */
@media (max-width: 1000px) {
    .logo {
        font-size: 18px; /*  Уменьшаем размер логотипа */
    }
    .nav-item {
        margin: 0 10px; /*  Уменьшаем отступы еще больше */
        font-size: 15px;
        z-index: 1;
    }
    .trapezoid-container {
        position: relative;
        height: 100%; /* Задаем высоту контейнера */
    }

    .trapezoid {
        width: 150%;
        height: 100%;  /* Задаем высоту трапеции */
        background-color: rgba(16, 91, 0, 0.5);
        clip-path: polygon(0 0, 100% 0,80% 100%, 0 100%);
        transform: rotate(180deg);
        position: absolute;
        right: 0;
        top: 0;
    }
    .phone {
        font-family: 'Joti One', cursive;
        font-size: 10px; /*  Уменьшаем размер текста */
        color: #7dff91;
        font-weight: bold;
        position: relative;
        z-index: 1;
        margin-top: 20px;
        margin-right: 10px
    }
}

@media (max-width: 1297px) {
    .logo {
        font-size: 18px; /*  Уменьшаем размер логотипа */
    }
    .nav-item {
        margin: 0 14px; /*  Уменьшаем отступы еще больше */
        font-size: 20px;
    }
    .trapezoid-container {
        position: relative;
        height: 100%; /* Задаем высоту контейнера */
    }

    .trapezoid {
        width: 150%;
        height: 100%;  /* Задаем высоту трапеции */
        background-color: rgba(16, 91, 0, 0.5);
        clip-path: polygon(0 0, 100% 0,80% 100%, 0 100%);
        transform: rotate(180deg);
        position: absolute;
        right: 0;
        top: 0;
    }
    .phone {
        font-family: 'Joti One', cursive;
        font-size: 20px; /*  Уменьшаем размер текста */
        color: #7dff91;
        font-weight: bold;
        position: relative;
        z-index: 1;
        margin-top: 20px;
        margin-right: 10px
    }
}